# Proyecto 1
#### Cristina Bautista - 161260
#### Abril Palencia - 18198

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from urllib.parse import urlparse
# from pandas_profiling import ProfileReport
import re


%matplotlib inline

In [2]:
df1 = pd.read_csv('dataset/dataset-part1.csv')
df2 = pd.read_csv('dataset/dataset-part2.csv')
df3 = pd.read_csv('dataset/dataset-part3.csv')
df4 = pd.read_csv('dataset/dataset-part4.csv')

In [3]:
df1

,BIFLOW_DIRECTION,DIRECTION,DST_TO_SRC_SECOND_BYTES,FIREWALL_EVENT,FIRST_SWITCHED,FLOW_ACTIVE_TIMEOUT,FLOW_DURATION_MICROSECONDS,FLOW_DURATION_MILLISECONDS,FLOW_END_MILLISECONDS,FLOW_END_SEC,...,TCP_WIN_MSS_IN,TCP_WIN_MSS_OUT,TCP_WIN_SCALE_IN,TCP_WIN_SCALE_OUT,SRC_TOS,DST_TOS,L7_PROTO_NAME,SAMPLING_INTERVAL,TOTAL_FLOWS_EXP,LABEL
0,1,0,40,0,1616660040,120,339,0,1616660040010,1616660040,...,1460,0,0,0,0,0,Unknown,1,2293398,Normal flow
1,1,0,",",0,1616660040,120,0,0,1616660040068,1616660040,...,0,0,0,0,40,0,ICMP,1,2293400,Normal flow
2,1,0,104,0,1616660040,120,44725,44,1616660040114,1616660040,...,0,0,0,0,0,0,TLS,1,2293404,Normal flow
3,1,0,",",0,1616660040,120,0,0,1616660040122,1616660040,...,1440,0,8,0,40,0,Unknown,1,2293407,Normal flow
4,1,0,40,0,1616660040,120,1114,1,1616660040184,1616660040,...,0,0,0,0,0,0,TLS,1,2293409,Normal flow
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3570661,1,0,"200,,,,,,,,,,,,,,,,,,,,200,,,,,,,,,,,,,,,,,,,,...",0,1616674440,120,101430708,101430,1616674541712,1616674541,...,0,0,0,0,0,0,STUN.SkypeCall,1,5870422,Normal flow
3570662,1,0,"200,,,,,,,,,,,,,,,,,,,,200,,,,,,,,,,,,,,,,,,,,...",0,1616674440,120,101332421,101332,1616674541823,1616674541,...,0,0,0,0,0,0,STUN.SkypeCall,1,5870423,Normal flow
3570663,1,0,"108,,,,,,,,,,,108,,,,,,,,,,110,108,,,,,,,,,,,1...",0,1616674440,120,108700564,108700,1616674549429,1616674549,...,0,0,0,0,0,0,TLS.Facebook,1,5870424,Normal flow
3570664,1,0,"200,,,,,,,,,,,,,,,,,,,,,200,,,,,,,,,,,,,,,,,,,...",0,1616674440,120,101391591,101391,1616674542194,1616674542,...,0,0,0,0,0,0,STUN.SkypeCall,1,5870425,Normal flow
3570665,1,0,"200,,,,,,,,,,,,,,,,,,,,,200,,,,,,,,,,,,,,,,,,,...",0,1616674440,120,101336899,101336,1616674542246,1616674542,...,0,0,0,0,0,0,STUN.Skype,1,5870426,Normal flow

In [4]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3570666 entries, 0 to 3570665
Data columns (total 50 columns):
 #   Column                      Dtype
---  ------                      -----
 0   BIFLOW_DIRECTION            int64
 1   DIRECTION                   int64
 2   DST_TO_SRC_SECOND_BYTES     object
 3   FIREWALL_EVENT              int64
 4   FIRST_SWITCHED              int64
 5   FLOW_ACTIVE_TIMEOUT         int64
 6   FLOW_DURATION_MICROSECONDS  int64
 7   FLOW_DURATION_MILLISECONDS  int64
 8   FLOW_END_MILLISECONDS       int64
 9   FLOW_END_SEC                int64
 10  FLOW_ID                     int64
 11  FLOW_INACTIVE_TIMEOUT       int64
 12  FLOW_START_MILLISECONDS     int64
 13  FLOW_START_SEC              int64
 14  FRAME_LENGTH                int64
 15  IN_BYTES                    int64
 16  IN_PKTS                     int64
 17  IPV4_DST_ADDR               object
 18  IPV4_SRC_ADDR               object
 19  L4_DST_PORT                 int64
 20  L4_SRC_PORT                 int64
 21  LAST_SWITCHED               int64
 22  MAX_IP_PKT_LEN              int64
 23  MIN_IP_PKT_LEN              int64
 24  OOORDER_IN_PKTS             int64
 25  OOORDER_OUT_PKTS            int64
 26  OUT_BYTES                   int64
 27  OUT_PKTS                    int64
 28  PROTOCOL                    int64
 29  PROTOCOL_MAP                object
 30  RETRANSMITTED_IN_BYTES      int64
 31  RETRANSMITTED_IN_PKTS       int64
 32  RETRANSMITTED_OUT_BYTES     int64
 33  RETRANSMITTED_OUT_PKTS      int64
 34  SRC_TO_DST_SECOND_BYTES     object
 35  TCP_FLAGS                   int64
 36  TCP_WIN_MAX_IN              int64
 37  TCP_WIN_MAX_OUT             int64
 38  TCP_WIN_MIN_IN              int64
 39  TCP_WIN_MIN_OUT             int64
 40  TCP_WIN_MSS_IN              int64
 41  TCP_WIN_MSS_OUT             int64
 42  TCP_WIN_SCALE_IN            int64
 43  TCP_WIN_SCALE_OUT           int64
 44  SRC_TOS                     int64
 45  DST_TOS                     int64
 46  L7_PROTO_NAME               object
 47  SAMPLING_INTERVAL           int64
 48  TOTAL_FLOWS_EXP             int64
 49  LABEL                       object
dtypes: int64(43), object(7)
memory usage: 1.3+ GB

In [5]:
len(df1)

3570666

In [6]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8637207 entries, 0 to 8637206
Data columns (total 50 columns):
 #   Column                      Dtype
---  ------                      -----
 0   BIFLOW_DIRECTION            int64
 1   DIRECTION                   int64
 2   DST_TO_SRC_SECOND_BYTES     object
 3   FIREWALL_EVENT              int64
 4   FIRST_SWITCHED              int64
 5   FLOW_ACTIVE_TIMEOUT         int64
 6   FLOW_DURATION_MICROSECONDS  int64
 7   FLOW_DURATION_MILLISECONDS  int64
 8   FLOW_END_MILLISECONDS       int64
 9   FLOW_END_SEC                int64
 10  FLOW_ID                     int64
 11  FLOW_INACTIVE_TIMEOUT       int64
 12  FLOW_START_MILLISECONDS     int64
 13  FLOW_START_SEC              int64
 14  FRAME_LENGTH                int64
 15  IN_BYTES                    int64
 16  IN_PKTS                     int64
 17  IPV4_DST_ADDR               object
 18  IPV4_SRC_ADDR               object
 19  L4_DST_PORT                 int64
 20  L4_SRC_PORT                 int64
 21  LAST_SWITCHED               int64
 22  MAX_IP_PKT_LEN              int64
 23  MIN_IP_PKT_LEN              int64
 24  OOORDER_IN_PKTS             int64
 25  OOORDER_OUT_PKTS            int64
 26  OUT_BYTES                   int64
 27  OUT_PKTS                    int64
 28  PROTOCOL                    int64
 29  PROTOCOL_MAP                object
 30  RETRANSMITTED_IN_BYTES      int64
 31  RETRANSMITTED_IN_PKTS       int64
 32  RETRANSMITTED_OUT_BYTES     int64
 33  RETRANSMITTED_OUT_PKTS      int64
 34  SRC_TO_DST_SECOND_BYTES     object
 35  TCP_FLAGS                   int64
 36  TCP_WIN_MAX_IN              int64
 37  TCP_WIN_MAX_OUT             int64
 38  TCP_WIN_MIN_IN              int64
 39  TCP_WIN_MIN_OUT             int64
 40  TCP_WIN_MSS_IN              int64
 41  TCP_WIN_MSS_OUT             int64
 42  TCP_WIN_SCALE_IN            int64
 43  TCP_WIN_SCALE_OUT           int64
 44  SRC_TOS                     int64
 45  DST_TOS                     int64
 46  L7_PROTO_NAME               object
 47  SAMPLING_INTERVAL           int64
 48  TOTAL_FLOWS_EXP             int64
 49  LABEL                       object
dtypes: int64(43), object(7)
memory usage: 3.2+ GB

In [7]:
df3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1330692 entries, 0 to 1330691
Data columns (total 50 columns):
 #   Column                      Non-Null Count    Dtype
---  ------                      --------------    -----
 0   BIFLOW_DIRECTION            1330692 non-null  int64
 1   DIRECTION                   1330692 non-null  int64
 2   DST_TO_SRC_SECOND_BYTES     1330692 non-null  object
 3   FIREWALL_EVENT              1330692 non-null  int64
 4   FIRST_SWITCHED              1330692 non-null  int64
 5   FLOW_ACTIVE_TIMEOUT         1330692 non-null  int64
 6   FLOW_DURATION_MICROSECONDS  1330692 non-null  int64
 7   FLOW_DURATION_MILLISECONDS  1330692 non-null  int64
 8   FLOW_END_MILLISECONDS       1330692 non-null  int64
 9   FLOW_END_SEC                1330692 non-null  int64
 10  FLOW_ID                     1330692 non-null  int64
 11  FLOW_INACTIVE_TIMEOUT       1330692 non-null  int64
 12  FLOW_START_MILLISECONDS     1330692 non-null  int64
 13  FLOW_START_SEC              1330692 non-null  int64
 14  FRAME_LENGTH                1330692 non-null  int64
 15  IN_BYTES                    1330692 non-null  int64
 16  IN_PKTS                     1330692 non-null  int64
 17  IPV4_DST_ADDR               1330692 non-null  object
 18  IPV4_SRC_ADDR               1330692 non-null  object
 19  L4_DST_PORT                 1330692 non-null  int64
 20  L4_SRC_PORT                 1330692 non-null  int64
 21  LAST_SWITCHED               1330692 non-null  int64
 22  MAX_IP_PKT_LEN              1330692 non-null  int64
 23  MIN_IP_PKT_LEN              1330692 non-null  int64
 24  OOORDER_IN_PKTS             1330692 non-null  int64
 25  OOORDER_OUT_PKTS            1330692 non-null  int64
 26  OUT_BYTES                   1330692 non-null  int64
 27  OUT_PKTS                    1330692 non-null  int64
 28  PROTOCOL                    1330692 non-null  int64
 29  PROTOCOL_MAP                1330692 non-null  object
 30  RETRANSMITTED_IN_BYTES      1330692 non-null  int64
 31  RETRANSMITTED_IN_PKTS       1330692 non-null  int64
 32  RETRANSMITTED_OUT_BYTES     1330692 non-null  int64
 33  RETRANSMITTED_OUT_PKTS      1330692 non-null  int64
 34  SRC_TO_DST_SECOND_BYTES     1330692 non-null  object
 35  TCP_FLAGS                   1330692 non-null  int64
 36  TCP_WIN_MAX_IN              1330692 non-null  int64
 37  TCP_WIN_MAX_OUT             1330692 non-null  int64
 38  TCP_WIN_MIN_IN              1330692 non-null  int64
 39  TCP_WIN_MIN_OUT             1330692 non-null  int64
 40  TCP_WIN_MSS_IN              1330692 non-null  int64
 41  TCP_WIN_MSS_OUT             1330692 non-null  int64
 42  TCP_WIN_SCALE_IN            1330692 non-null  int64
 43  TCP_WIN_SCALE_OUT           1330692 non-null  int64
 44  SRC_TOS                     1330692 non-null  int64
 45  DST_TOS                     1330692 non-null  int64
 46  L7_PROTO_NAME               1330692 non-null  object
 47  SAMPLING_INTERVAL           1330692 non-null  int64
 48  TOTAL_FLOWS_EXP             1330692 non-null  int64
 49  LABEL                       1330692 non-null  object
dtypes: int64(43), object(7)
memory usage: 507.6+ MB

In [8]:
df4.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26725246 entries, 0 to 26725245
Data columns (total 50 columns):
 #   Column                      Dtype
---  ------                      -----
 0   BIFLOW_DIRECTION            int64
 1   DIRECTION                   int64
 2   DST_TO_SRC_SECOND_BYTES     object
 3   FIREWALL_EVENT              int64
 4   FIRST_SWITCHED              int64
 5   FLOW_ACTIVE_TIMEOUT         int64
 6   FLOW_DURATION_MICROSECONDS  int64
 7   FLOW_DURATION_MILLISECONDS  int64
 8   FLOW_END_MILLISECONDS       int64
 9   FLOW_END_SEC                int64
 10  FLOW_ID                     int64
 11  FLOW_INACTIVE_TIMEOUT       int64
 12  FLOW_START_MILLISECONDS     int64
 13  FLOW_START_SEC              int64
 14  FRAME_LENGTH                int64
 15  IN_BYTES                    int64
 16  IN_PKTS                     int64
 17  IPV4_DST_ADDR               object
 18  IPV4_SRC_ADDR               object
 19  L4_DST_PORT                 int64
 20  L4_SRC_PORT                 int64
 21  LAST_SWITCHED               int64
 22  MAX_IP_PKT_LEN              int64
 23  MIN_IP_PKT_LEN              int64
 24  OOORDER_IN_PKTS             int64
 25  OOORDER_OUT_PKTS            int64
 26  OUT_BYTES                   int64
 27  OUT_PKTS                    int64
 28  PROTOCOL                    int64
 29  PROTOCOL_MAP                object
 30  RETRANSMITTED_IN_BYTES      int64
 31  RETRANSMITTED_IN_PKTS       int64
 32  RETRANSMITTED_OUT_BYTES     int64
 33  RETRANSMITTED_OUT_PKTS      int64
 34  SRC_TO_DST_SECOND_BYTES     object
 35  TCP_FLAGS                   int64
 36  TCP_WIN_MAX_IN              int64
 37  TCP_WIN_MAX_OUT             int64
 38  TCP_WIN_MIN_IN              int64
 39  TCP_WIN_MIN_OUT             int64
 40  TCP_WIN_MSS_IN              int64
 41  TCP_WIN_MSS_OUT             int64
 42  TCP_WIN_SCALE_IN            int64
 43  TCP_WIN_SCALE_OUT           int64
 44  SRC_TOS                     int64
 45  DST_TOS                     int64
 46  L7_PROTO_NAME               object
 47  SAMPLING_INTERVAL           int64
 48  TOTAL_FLOWS_EXP             int64
 49  LABEL                       object
dtypes: int64(43), object(7)
memory usage: 10.0+ GB

### Muestras de los datas sets 

Debido a que los datasets son pesados, y los recursos de las máquinas más limitados se hará un muestreo de una quinta parte de cada dataset

In [9]:
len(df1)/5

714133.2

In [10]:
df1M = df1.sample(n = 142826)

In [11]:
df1 = pd.DataFrame(df1M)

In [12]:
len(df2)/10

863720.7

In [13]:
df2M = df2.sample(n = 172744)

In [14]:
df2 = pd.DataFrame(df2M)

In [15]:
len(df3)/10

133069.2

In [16]:
df3M = df3.sample(n = 133069)

In [17]:
df3 = pd.DataFrame(df3M)

In [18]:
len(df4)/15

1781683.0666666667

In [19]:
df4M = df4.sample(n = 178168)

In [20]:
df4 = pd.DataFrame(df4M)

In [21]:
df_final = pd.concat([df1M, df2M, df3M, df4M])

In [22]:
df_final

,BIFLOW_DIRECTION,DIRECTION,DST_TO_SRC_SECOND_BYTES,FIREWALL_EVENT,FIRST_SWITCHED,FLOW_ACTIVE_TIMEOUT,FLOW_DURATION_MICROSECONDS,FLOW_DURATION_MILLISECONDS,FLOW_END_MILLISECONDS,FLOW_END_SEC,...,TCP_WIN_MSS_IN,TCP_WIN_MSS_OUT,TCP_WIN_SCALE_IN,TCP_WIN_SCALE_OUT,SRC_TOS,DST_TOS,L7_PROTO_NAME,SAMPLING_INTERVAL,TOTAL_FLOWS_EXP,LABEL
2963253,1,0,40,0,1616672777,120,933,0,1616672777148,1616672777,...,1460,0,0,0,0,0,Unknown,1,5256821,SYN Scan - aggressive
1968575,1,0,40,0,1616669172,120,922,0,1616669172792,1616669172,...,1460,0,0,0,0,0,Unknown,1,4262143,SYN Scan - aggressive
1528200,1,0,",",0,1616666986,120,0,0,1616666986843,1616666986,...,1460,0,0,0,0,0,Unknown,1,3821768,SYN Scan - aggressive
1824309,1,0,40,0,1616668177,120,948,0,1616668177734,1616668177,...,1460,0,0,0,0,0,Unknown,1,4117877,SYN Scan - aggressive
2963593,1,0,"249,,,,272,,,,,,,,,,,,,,,,,445,,,,,,,,249,272,...",0,1616672688,120,117071767,117071,1616672805809,1616672805,...,0,0,0,0,0,0,Google,1,5257161,Normal flow
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20591610,1,0,40,0,1622443375,120,269,0,1622443375485,1622443375,...,0,0,0,0,0,0,Unknown,1,27653855,Normal flow
5670490,1,0,40,0,1622438114,120,236,0,1622438114616,1622438114,...,0,0,0,0,0,0,Unknown,1,12732735,Normal flow
17384335,1,0,40,0,1622442753,120,533,0,1622442753773,1622442753,...,0,0,0,0,0,0,Unknown,1,24446580,Normal flow
14259050,1,0,40,0,1622440946,120,237,0,1622440946496,1622440946,...,0,0,0,0,0,0,Unknown,1,21321295,Normal flow
8404851,1,0,"3305,654",0,1622438646,120,904260,904,1622438647695,1622438647,...,0,0,0,0,0,0,QUIC.Cloudflare,1,15467096,Normal flow

In [23]:
df_final.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 626807 entries, 2963253 to 8404851
Data columns (total 50 columns):
 #   Column                      Non-Null Count   Dtype
---  ------                      --------------   -----
 0   BIFLOW_DIRECTION            626807 non-null  int64
 1   DIRECTION                   626807 non-null  int64
 2   DST_TO_SRC_SECOND_BYTES     626807 non-null  object
 3   FIREWALL_EVENT              626807 non-null  int64
 4   FIRST_SWITCHED              626807 non-null  int64
 5   FLOW_ACTIVE_TIMEOUT         626807 non-null  int64
 6   FLOW_DURATION_MICROSECONDS  626807 non-null  int64
 7   FLOW_DURATION_MILLISECONDS  626807 non-null  int64
 8   FLOW_END_MILLISECONDS       626807 non-null  int64
 9   FLOW_END_SEC                626807 non-null  int64
 10  FLOW_ID                     626807 non-null  int64
 11  FLOW_INACTIVE_TIMEOUT       626807 non-null  int64
 12  FLOW_START_MILLISECONDS     626807 non-null  int64
 13  FLOW_START_SEC              626807 non-null  int64
 14  FRAME_LENGTH                626807 non-null  int64
 15  IN_BYTES                    626807 non-null  int64
 16  IN_PKTS                     626807 non-null  int64
 17  IPV4_DST_ADDR               626807 non-null  object
 18  IPV4_SRC_ADDR               626807 non-null  object
 19  L4_DST_PORT                 626807 non-null  int64
 20  L4_SRC_PORT                 626807 non-null  int64
 21  LAST_SWITCHED               626807 non-null  int64
 22  MAX_IP_PKT_LEN              626807 non-null  int64
 23  MIN_IP_PKT_LEN              626807 non-null  int64
 24  OOORDER_IN_PKTS             626807 non-null  int64
 25  OOORDER_OUT_PKTS            626807 non-null  int64
 26  OUT_BYTES                   626807 non-null  int64
 27  OUT_PKTS                    626807 non-null  int64
 28  PROTOCOL                    626807 non-null  int64
 29  PROTOCOL_MAP                626807 non-null  object
 30  RETRANSMITTED_IN_BYTES      626807 non-null  int64
 31  RETRANSMITTED_IN_PKTS       626807 non-null  int64
 32  RETRANSMITTED_OUT_BYTES     626807 non-null  int64
 33  RETRANSMITTED_OUT_PKTS      626807 non-null  int64
 34  SRC_TO_DST_SECOND_BYTES     626807 non-null  object
 35  TCP_FLAGS                   626807 non-null  int64
 36  TCP_WIN_MAX_IN              626807 non-null  int64
 37  TCP_WIN_MAX_OUT             626807 non-null  int64
 38  TCP_WIN_MIN_IN              626807 non-null  int64
 39  TCP_WIN_MIN_OUT             626807 non-null  int64
 40  TCP_WIN_MSS_IN              626807 non-null  int64
 41  TCP_WIN_MSS_OUT             626807 non-null  int64
 42  TCP_WIN_SCALE_IN            626807 non-null  int64
 43  TCP_WIN_SCALE_OUT           626807 non-null  int64
 44  SRC_TOS                     626807 non-null  int64
 45  DST_TOS                     626807 non-null  int64
 46  L7_PROTO_NAME               626807 non-null  object
 47  SAMPLING_INTERVAL           626807 non-null  int64
 48  TOTAL_FLOWS_EXP             626807 non-null  int64
 49  LABEL                       626807 non-null  object
dtypes: int64(43), object(7)
memory usage: 243.9+ MB

In [24]:
df_final = df_final.drop(['DIRECTION', 'FIREWALL_EVENT', 'FLOW_ACTIVE_TIMEOUT', 'FLOW_DURATION_MICROSECONDS', 
                          'FLOW_END_SEC', 'FLOW_INACTIVE_TIMEOUT', 'FLOW_START_SEC', 'FRAME_LENGTH', 
                          'IPV4_DST_ADDR', 'IPV4_SRC_ADDR', 'MAX_IP_PKT_LEN', 'MAX_IP_PKT_LEN', 
                          'MIN_IP_PKT_LEN', 'PROTOCOL_MAP', 'RETRANSMITTED_IN_BYTES', 'RETRANSMITTED_IN_PKTS',
                          'RETRANSMITTED_OUT_BYTES', 'RETRANSMITTED_OUT_PKTS'], 1)

/var/folders/pr/74mzrgzd55x0p441b4ngq4740000gr/T/ipykernel_8331/1914227909.py:1: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  df_final = df_final.drop(['DIRECTION', 'FIREWALL_EVENT', 'FLOW_ACTIVE_TIMEOUT', 'FLOW_DURATION_MICROSECONDS',

In [25]:
# df_final

In [26]:
df_final.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 626807 entries, 2963253 to 8404851
Data columns (total 33 columns):
 #   Column                      Non-Null Count   Dtype
---  ------                      --------------   -----
 0   BIFLOW_DIRECTION            626807 non-null  int64
 1   DST_TO_SRC_SECOND_BYTES     626807 non-null  object
 2   FIRST_SWITCHED              626807 non-null  int64
 3   FLOW_DURATION_MILLISECONDS  626807 non-null  int64
 4   FLOW_END_MILLISECONDS       626807 non-null  int64
 5   FLOW_ID                     626807 non-null  int64
 6   FLOW_START_MILLISECONDS     626807 non-null  int64
 7   IN_BYTES                    626807 non-null  int64
 8   IN_PKTS                     626807 non-null  int64
 9   L4_DST_PORT                 626807 non-null  int64
 10  L4_SRC_PORT                 626807 non-null  int64
 11  LAST_SWITCHED               626807 non-null  int64
 12  OOORDER_IN_PKTS             626807 non-null  int64
 13  OOORDER_OUT_PKTS            626807 non-null  int64
 14  OUT_BYTES                   626807 non-null  int64
 15  OUT_PKTS                    626807 non-null  int64
 16  PROTOCOL                    626807 non-null  int64
 17  SRC_TO_DST_SECOND_BYTES     626807 non-null  object
 18  TCP_FLAGS                   626807 non-null  int64
 19  TCP_WIN_MAX_IN              626807 non-null  int64
 20  TCP_WIN_MAX_OUT             626807 non-null  int64
 21  TCP_WIN_MIN_IN              626807 non-null  int64
 22  TCP_WIN_MIN_OUT             626807 non-null  int64
 23  TCP_WIN_MSS_IN              626807 non-null  int64
 24  TCP_WIN_MSS_OUT             626807 non-null  int64
 25  TCP_WIN_SCALE_IN            626807 non-null  int64
 26  TCP_WIN_SCALE_OUT           626807 non-null  int64
 27  SRC_TOS                     626807 non-null  int64
 28  DST_TOS                     626807 non-null  int64
 29  L7_PROTO_NAME               626807 non-null  object
 30  SAMPLING_INTERVAL           626807 non-null  int64
 31  TOTAL_FLOWS_EXP             626807 non-null  int64
 32  LABEL                       626807 non-null  object
dtypes: int64(29), object(4)
memory usage: 162.6+ MB

In [27]:
len(np.unique(df_final[['LABEL']]))

8

In [28]:
np.unique(df_final[['LABEL']])

array(['Denial of Service R-U-Dead-Yet', 'Denial of Service Slowloris',
       'FIN Scan', 'NULL Scan', 'Normal flow', 'SYN Scan - aggressive',
       'UDP Scan', 'XMAS Scan'], dtype=object)

In [29]:
len(np.unique(df_final[['TCP_WIN_MAX_IN']]))

3512

In [30]:
df_final['TCP_WIN_MAX_IN']

2963253     1024
1968575     1024
1528200     1024
1824309     1024
2963593        0
            ...
20591610    1024
5670490     1024
17384335    1024
14259050    1024
8404851        0
Name: TCP_WIN_MAX_IN, Length: 626807, dtype: int64