# Proyecto 1
#### Cristina Bautista - 161260
#### Abril Palencia - 18198

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from urllib.parse import urlparse
# from pandas_profiling import ProfileReport
import re


%matplotlib inline

In [2]:
df1 = pd.read_csv('dataset/dataset-part1.csv')
df2 = pd.read_csv('dataset/dataset-part2.csv')
df3 = pd.read_csv('dataset/dataset-part3.csv')
df4 = pd.read_csv('dataset/dataset-part4.csv')

In [3]:
df1

,BIFLOW_DIRECTION,DIRECTION,DST_TO_SRC_SECOND_BYTES,FIREWALL_EVENT,FIRST_SWITCHED,FLOW_ACTIVE_TIMEOUT,FLOW_DURATION_MICROSECONDS,FLOW_DURATION_MILLISECONDS,FLOW_END_MILLISECONDS,FLOW_END_SEC,...,TCP_WIN_MSS_IN,TCP_WIN_MSS_OUT,TCP_WIN_SCALE_IN,TCP_WIN_SCALE_OUT,SRC_TOS,DST_TOS,L7_PROTO_NAME,SAMPLING_INTERVAL,TOTAL_FLOWS_EXP,LABEL
0,1,0,40,0,1616660040,120,339,0,1616660040010,1616660040,...,1460,0,0,0,0,0,Unknown,1,2293398,Normal flow
1,1,0,",",0,1616660040,120,0,0,1616660040068,1616660040,...,0,0,0,0,40,0,ICMP,1,2293400,Normal flow
2,1,0,104,0,1616660040,120,44725,44,1616660040114,1616660040,...,0,0,0,0,0,0,TLS,1,2293404,Normal flow
3,1,0,",",0,1616660040,120,0,0,1616660040122,1616660040,...,1440,0,8,0,40,0,Unknown,1,2293407,Normal flow
4,1,0,40,0,1616660040,120,1114,1,1616660040184,1616660040,...,0,0,0,0,0,0,TLS,1,2293409,Normal flow
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3570661,1,0,"200,,,,,,,,,,,,,,,,,,,,200,,,,,,,,,,,,,,,,,,,,...",0,1616674440,120,101430708,101430,1616674541712,1616674541,...,0,0,0,0,0,0,STUN.SkypeCall,1,5870422,Normal flow
3570662,1,0,"200,,,,,,,,,,,,,,,,,,,,200,,,,,,,,,,,,,,,,,,,,...",0,1616674440,120,101332421,101332,1616674541823,1616674541,...,0,0,0,0,0,0,STUN.SkypeCall,1,5870423,Normal flow
3570663,1,0,"108,,,,,,,,,,,108,,,,,,,,,,110,108,,,,,,,,,,,1...",0,1616674440,120,108700564,108700,1616674549429,1616674549,...,0,0,0,0,0,0,TLS.Facebook,1,5870424,Normal flow
3570664,1,0,"200,,,,,,,,,,,,,,,,,,,,,200,,,,,,,,,,,,,,,,,,,...",0,1616674440,120,101391591,101391,1616674542194,1616674542,...,0,0,0,0,0,0,STUN.SkypeCall,1,5870425,Normal flow
3570665,1,0,"200,,,,,,,,,,,,,,,,,,,,,200,,,,,,,,,,,,,,,,,,,...",0,1616674440,120,101336899,101336,1616674542246,1616674542,...,0,0,0,0,0,0,STUN.Skype,1,5870426,Normal flow

In [4]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3570666 entries, 0 to 3570665
Data columns (total 50 columns):
 #   Column                      Dtype
---  ------                      -----
 0   BIFLOW_DIRECTION            int64
 1   DIRECTION                   int64
 2   DST_TO_SRC_SECOND_BYTES     object
 3   FIREWALL_EVENT              int64
 4   FIRST_SWITCHED              int64
 5   FLOW_ACTIVE_TIMEOUT         int64
 6   FLOW_DURATION_MICROSECONDS  int64
 7   FLOW_DURATION_MILLISECONDS  int64
 8   FLOW_END_MILLISECONDS       int64
 9   FLOW_END_SEC                int64
 10  FLOW_ID                     int64
 11  FLOW_INACTIVE_TIMEOUT       int64
 12  FLOW_START_MILLISECONDS     int64
 13  FLOW_START_SEC              int64
 14  FRAME_LENGTH                int64
 15  IN_BYTES                    int64
 16  IN_PKTS                     int64
 17  IPV4_DST_ADDR               object
 18  IPV4_SRC_ADDR               object
 19  L4_DST_PORT                 int64
 20  L4_SRC_PORT                 int64
 21  LAST_SWITCHED               int64
 22  MAX_IP_PKT_LEN              int64
 23  MIN_IP_PKT_LEN              int64
 24  OOORDER_IN_PKTS             int64
 25  OOORDER_OUT_PKTS            int64
 26  OUT_BYTES                   int64
 27  OUT_PKTS                    int64
 28  PROTOCOL                    int64
 29  PROTOCOL_MAP                object
 30  RETRANSMITTED_IN_BYTES      int64
 31  RETRANSMITTED_IN_PKTS       int64
 32  RETRANSMITTED_OUT_BYTES     int64
 33  RETRANSMITTED_OUT_PKTS      int64
 34  SRC_TO_DST_SECOND_BYTES     object
 35  TCP_FLAGS                   int64
 36  TCP_WIN_MAX_IN              int64
 37  TCP_WIN_MAX_OUT             int64
 38  TCP_WIN_MIN_IN              int64
 39  TCP_WIN_MIN_OUT             int64
 40  TCP_WIN_MSS_IN              int64
 41  TCP_WIN_MSS_OUT             int64
 42  TCP_WIN_SCALE_IN            int64
 43  TCP_WIN_SCALE_OUT           int64
 44  SRC_TOS                     int64
 45  DST_TOS                     int64
 46  L7_PROTO_NAME               object
 47  SAMPLING_INTERVAL           int64
 48  TOTAL_FLOWS_EXP             int64
 49  LABEL                       object
dtypes: int64(43), object(7)
memory usage: 1.3+ GB

In [5]:
len(df1)

3570666

In [6]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8637207 entries, 0 to 8637206
Data columns (total 50 columns):
 #   Column                      Dtype
---  ------                      -----
 0   BIFLOW_DIRECTION            int64
 1   DIRECTION                   int64
 2   DST_TO_SRC_SECOND_BYTES     object
 3   FIREWALL_EVENT              int64
 4   FIRST_SWITCHED              int64
 5   FLOW_ACTIVE_TIMEOUT         int64
 6   FLOW_DURATION_MICROSECONDS  int64
 7   FLOW_DURATION_MILLISECONDS  int64
 8   FLOW_END_MILLISECONDS       int64
 9   FLOW_END_SEC                int64
 10  FLOW_ID                     int64
 11  FLOW_INACTIVE_TIMEOUT       int64
 12  FLOW_START_MILLISECONDS     int64
 13  FLOW_START_SEC              int64
 14  FRAME_LENGTH                int64
 15  IN_BYTES                    int64
 16  IN_PKTS                     int64
 17  IPV4_DST_ADDR               object
 18  IPV4_SRC_ADDR               object
 19  L4_DST_PORT                 int64
 20  L4_SRC_PORT                 int64
 21  LAST_SWITCHED               int64
 22  MAX_IP_PKT_LEN              int64
 23  MIN_IP_PKT_LEN              int64
 24  OOORDER_IN_PKTS             int64
 25  OOORDER_OUT_PKTS            int64
 26  OUT_BYTES                   int64
 27  OUT_PKTS                    int64
 28  PROTOCOL                    int64
 29  PROTOCOL_MAP                object
 30  RETRANSMITTED_IN_BYTES      int64
 31  RETRANSMITTED_IN_PKTS       int64
 32  RETRANSMITTED_OUT_BYTES     int64
 33  RETRANSMITTED_OUT_PKTS      int64
 34  SRC_TO_DST_SECOND_BYTES     object
 35  TCP_FLAGS                   int64
 36  TCP_WIN_MAX_IN              int64
 37  TCP_WIN_MAX_OUT             int64
 38  TCP_WIN_MIN_IN              int64
 39  TCP_WIN_MIN_OUT             int64
 40  TCP_WIN_MSS_IN              int64
 41  TCP_WIN_MSS_OUT             int64
 42  TCP_WIN_SCALE_IN            int64
 43  TCP_WIN_SCALE_OUT           int64
 44  SRC_TOS                     int64
 45  DST_TOS                     int64
 46  L7_PROTO_NAME               object
 47  SAMPLING_INTERVAL           int64
 48  TOTAL_FLOWS_EXP             int64
 49  LABEL                       object
dtypes: int64(43), object(7)
memory usage: 3.2+ GB

In [7]:
df3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1330692 entries, 0 to 1330691
Data columns (total 50 columns):
 #   Column                      Non-Null Count    Dtype
---  ------                      --------------    -----
 0   BIFLOW_DIRECTION            1330692 non-null  int64
 1   DIRECTION                   1330692 non-null  int64
 2   DST_TO_SRC_SECOND_BYTES     1330692 non-null  object
 3   FIREWALL_EVENT              1330692 non-null  int64
 4   FIRST_SWITCHED              1330692 non-null  int64
 5   FLOW_ACTIVE_TIMEOUT         1330692 non-null  int64
 6   FLOW_DURATION_MICROSECONDS  1330692 non-null  int64
 7   FLOW_DURATION_MILLISECONDS  1330692 non-null  int64
 8   FLOW_END_MILLISECONDS       1330692 non-null  int64
 9   FLOW_END_SEC                1330692 non-null  int64
 10  FLOW_ID                     1330692 non-null  int64
 11  FLOW_INACTIVE_TIMEOUT       1330692 non-null  int64
 12  FLOW_START_MILLISECONDS     1330692 non-null  int64
 13  FLOW_START_SEC              1330692 non-null  int64
 14  FRAME_LENGTH                1330692 non-null  int64
 15  IN_BYTES                    1330692 non-null  int64
 16  IN_PKTS                     1330692 non-null  int64
 17  IPV4_DST_ADDR               1330692 non-null  object
 18  IPV4_SRC_ADDR               1330692 non-null  object
 19  L4_DST_PORT                 1330692 non-null  int64
 20  L4_SRC_PORT                 1330692 non-null  int64
 21  LAST_SWITCHED               1330692 non-null  int64
 22  MAX_IP_PKT_LEN              1330692 non-null  int64
 23  MIN_IP_PKT_LEN              1330692 non-null  int64
 24  OOORDER_IN_PKTS             1330692 non-null  int64
 25  OOORDER_OUT_PKTS            1330692 non-null  int64
 26  OUT_BYTES                   1330692 non-null  int64
 27  OUT_PKTS                    1330692 non-null  int64
 28  PROTOCOL                    1330692 non-null  int64
 29  PROTOCOL_MAP                1330692 non-null  object
 30  RETRANSMITTED_IN_BYTES      1330692 non-null  int64
 31  RETRANSMITTED_IN_PKTS       1330692 non-null  int64
 32  RETRANSMITTED_OUT_BYTES     1330692 non-null  int64
 33  RETRANSMITTED_OUT_PKTS      1330692 non-null  int64
 34  SRC_TO_DST_SECOND_BYTES     1330692 non-null  object
 35  TCP_FLAGS                   1330692 non-null  int64
 36  TCP_WIN_MAX_IN              1330692 non-null  int64
 37  TCP_WIN_MAX_OUT             1330692 non-null  int64
 38  TCP_WIN_MIN_IN              1330692 non-null  int64
 39  TCP_WIN_MIN_OUT             1330692 non-null  int64
 40  TCP_WIN_MSS_IN              1330692 non-null  int64
 41  TCP_WIN_MSS_OUT             1330692 non-null  int64
 42  TCP_WIN_SCALE_IN            1330692 non-null  int64
 43  TCP_WIN_SCALE_OUT           1330692 non-null  int64
 44  SRC_TOS                     1330692 non-null  int64
 45  DST_TOS                     1330692 non-null  int64
 46  L7_PROTO_NAME               1330692 non-null  object
 47  SAMPLING_INTERVAL           1330692 non-null  int64
 48  TOTAL_FLOWS_EXP             1330692 non-null  int64
 49  LABEL                       1330692 non-null  object
dtypes: int64(43), object(7)
memory usage: 507.6+ MB

In [8]:
df4.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26725246 entries, 0 to 26725245
Data columns (total 50 columns):
 #   Column                      Dtype
---  ------                      -----
 0   BIFLOW_DIRECTION            int64
 1   DIRECTION                   int64
 2   DST_TO_SRC_SECOND_BYTES     object
 3   FIREWALL_EVENT              int64
 4   FIRST_SWITCHED              int64
 5   FLOW_ACTIVE_TIMEOUT         int64
 6   FLOW_DURATION_MICROSECONDS  int64
 7   FLOW_DURATION_MILLISECONDS  int64
 8   FLOW_END_MILLISECONDS       int64
 9   FLOW_END_SEC                int64
 10  FLOW_ID                     int64
 11  FLOW_INACTIVE_TIMEOUT       int64
 12  FLOW_START_MILLISECONDS     int64
 13  FLOW_START_SEC              int64
 14  FRAME_LENGTH                int64
 15  IN_BYTES                    int64
 16  IN_PKTS                     int64
 17  IPV4_DST_ADDR               object
 18  IPV4_SRC_ADDR               object
 19  L4_DST_PORT                 int64
 20  L4_SRC_PORT                 int64
 21  LAST_SWITCHED               int64
 22  MAX_IP_PKT_LEN              int64
 23  MIN_IP_PKT_LEN              int64
 24  OOORDER_IN_PKTS             int64
 25  OOORDER_OUT_PKTS            int64
 26  OUT_BYTES                   int64
 27  OUT_PKTS                    int64
 28  PROTOCOL                    int64
 29  PROTOCOL_MAP                object
 30  RETRANSMITTED_IN_BYTES      int64
 31  RETRANSMITTED_IN_PKTS       int64
 32  RETRANSMITTED_OUT_BYTES     int64
 33  RETRANSMITTED_OUT_PKTS      int64
 34  SRC_TO_DST_SECOND_BYTES     object
 35  TCP_FLAGS                   int64
 36  TCP_WIN_MAX_IN              int64
 37  TCP_WIN_MAX_OUT             int64
 38  TCP_WIN_MIN_IN              int64
 39  TCP_WIN_MIN_OUT             int64
 40  TCP_WIN_MSS_IN              int64
 41  TCP_WIN_MSS_OUT             int64
 42  TCP_WIN_SCALE_IN            int64
 43  TCP_WIN_SCALE_OUT           int64
 44  SRC_TOS                     int64
 45  DST_TOS                     int64
 46  L7_PROTO_NAME               object
 47  SAMPLING_INTERVAL           int64
 48  TOTAL_FLOWS_EXP             int64
 49  LABEL                       object
dtypes: int64(43), object(7)
memory usage: 10.0+ GB

### Muestras de los datas sets 

Debido a que los datasets son pesados, y los recursos de las máquinas más limitados se hará un muestreo de una quinta parte de cada dataset

In [9]:
len(df1)/5

714133.2

In [10]:
df1M = df1.sample(n = 142826)

In [11]:
#df1 = pd.DataFrame(df1M)

In [12]:
len(df2)/10

863720.7

In [13]:
df2M = df2.sample(n = 172744)

In [14]:
#df2 = pd.DataFrame(df2M)

In [15]:
len(df3)/10

133069.2

In [16]:
df3M = df3.sample(n = 133069)

In [17]:
#df3 = pd.DataFrame(df3M)

In [18]:
len(df4)/15

1781683.0666666667

In [19]:
df4M = df4.sample(n = 178168)

In [20]:
#df4 = pd.DataFrame(df4M)

In [21]:
df_final = pd.concat([df1, df2, df3, df4])

In [22]:
df_final

,BIFLOW_DIRECTION,DIRECTION,DST_TO_SRC_SECOND_BYTES,FIREWALL_EVENT,FIRST_SWITCHED,FLOW_ACTIVE_TIMEOUT,FLOW_DURATION_MICROSECONDS,FLOW_DURATION_MILLISECONDS,FLOW_END_MILLISECONDS,FLOW_END_SEC,...,TCP_WIN_MSS_IN,TCP_WIN_MSS_OUT,TCP_WIN_SCALE_IN,TCP_WIN_SCALE_OUT,SRC_TOS,DST_TOS,L7_PROTO_NAME,SAMPLING_INTERVAL,TOTAL_FLOWS_EXP,LABEL
0,1,0,40,0,1616660040,120,339,0,1616660040010,1616660040,...,1460,0,0,0,0,0,Unknown,1,2293398,Normal flow
1,1,0,",",0,1616660040,120,0,0,1616660040068,1616660040,...,0,0,0,0,40,0,ICMP,1,2293400,Normal flow
2,1,0,104,0,1616660040,120,44725,44,1616660040114,1616660040,...,0,0,0,0,0,0,TLS,1,2293404,Normal flow
3,1,0,",",0,1616660040,120,0,0,1616660040122,1616660040,...,1440,0,8,0,40,0,Unknown,1,2293407,Normal flow
4,1,0,40,0,1616660040,120,1114,1,1616660040184,1616660040,...,0,0,0,0,0,0,TLS,1,2293409,Normal flow
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26725241,1,0,",,,,,,,709,,,,,,,,,,,,,,,,,,56,,,,,,,,,,,,,99,...",0,1622458797,120,114419865,114419,1622458912162,1622458912,...,0,0,0,0,0,0,Unknown,1,33792157,Normal flow
26725242,1,0,"52,,,,,,,1635,,,,,,,,,,52,,,,,,,,,,52,,,,,,,11...",0,1622458798,120,104262046,104262,1622458902352,1622458902,...,0,0,0,0,0,0,TLS,1,33792158,Normal flow
26725243,1,0,"612,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,1236,,,,,,,,,...",0,1622458799,120,90045366,90045,1622458889634,1622458889,...,0,0,0,0,0,0,TLS.Microsoft365,1,33792243,Normal flow
26725244,1,0,"2822,64995,5036,6186,116250,7597,8299,62399,27...",0,1622458800,120,119940503,119940,1622458919942,1622458919,...,0,0,0,0,0,0,STUN.SkypeCall,1,33792285,Normal flow
26725245,1,0,"6464,2600,,,,,5576,,,,,132,8224,,196,,,8344,,,...",0,1622458800,120,116594487,116594,1622458917065,1622458917,...,0,0,0,0,40,0,Unknown,1,33792286,Normal flow

In [23]:
df_final.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 40263811 entries, 0 to 26725245
Data columns (total 50 columns):
 #   Column                      Dtype
---  ------                      -----
 0   BIFLOW_DIRECTION            int64
 1   DIRECTION                   int64
 2   DST_TO_SRC_SECOND_BYTES     object
 3   FIREWALL_EVENT              int64
 4   FIRST_SWITCHED              int64
 5   FLOW_ACTIVE_TIMEOUT         int64
 6   FLOW_DURATION_MICROSECONDS  int64
 7   FLOW_DURATION_MILLISECONDS  int64
 8   FLOW_END_MILLISECONDS       int64
 9   FLOW_END_SEC                int64
 10  FLOW_ID                     int64
 11  FLOW_INACTIVE_TIMEOUT       int64
 12  FLOW_START_MILLISECONDS     int64
 13  FLOW_START_SEC              int64
 14  FRAME_LENGTH                int64
 15  IN_BYTES                    int64
 16  IN_PKTS                     int64
 17  IPV4_DST_ADDR               object
 18  IPV4_SRC_ADDR               object
 19  L4_DST_PORT                 int64
 20  L4_SRC_PORT                 int64
 21  LAST_SWITCHED               int64
 22  MAX_IP_PKT_LEN              int64
 23  MIN_IP_PKT_LEN              int64
 24  OOORDER_IN_PKTS             int64
 25  OOORDER_OUT_PKTS            int64
 26  OUT_BYTES                   int64
 27  OUT_PKTS                    int64
 28  PROTOCOL                    int64
 29  PROTOCOL_MAP                object
 30  RETRANSMITTED_IN_BYTES      int64
 31  RETRANSMITTED_IN_PKTS       int64
 32  RETRANSMITTED_OUT_BYTES     int64
 33  RETRANSMITTED_OUT_PKTS      int64
 34  SRC_TO_DST_SECOND_BYTES     object
 35  TCP_FLAGS                   int64
 36  TCP_WIN_MAX_IN              int64
 37  TCP_WIN_MAX_OUT             int64
 38  TCP_WIN_MIN_IN              int64
 39  TCP_WIN_MIN_OUT             int64
 40  TCP_WIN_MSS_IN              int64
 41  TCP_WIN_MSS_OUT             int64
 42  TCP_WIN_SCALE_IN            int64
 43  TCP_WIN_SCALE_OUT           int64
 44  SRC_TOS                     int64
 45  DST_TOS                     int64
 46  L7_PROTO_NAME               object
 47  SAMPLING_INTERVAL           int64
 48  TOTAL_FLOWS_EXP             int64
 49  LABEL                       object
dtypes: int64(43), object(7)
memory usage: 15.3+ GB

In [24]:
df_final.DIRECTION.nunique()

2

In [25]:
np.unique(df_final[['DIRECTION']])

array([0, 1])

In [26]:
df_final.FIREWALL_EVENT.nunique()

1

In [27]:
df_final.FLOW_ACTIVE_TIMEOUT.nunique()

1

In [30]:
df_final.FRAME_LENGTH.nunique()

1

In [33]:
df_final.MAX_IP_PKT_LEN.nunique()

1

In [34]:
df_final.MIN_IP_PKT_LEN.nunique()

1

In [40]:
df_final = df_final.drop(['FIREWALL_EVENT', 'FLOW_ACTIVE_TIMEOUT', 'FLOW_DURATION_MICROSECONDS', 'FLOW_END_SEC', 
                          'FLOW_INACTIVE_TIMEOUT', 'FLOW_START_SEC', 'FRAME_LENGTH', 'IPV4_DST_ADDR', 
                          'IPV4_SRC_ADDR', 'MAX_IP_PKT_LEN', 'MAX_IP_PKT_LEN', 'MIN_IP_PKT_LEN', 'PROTOCOL_MAP', 
                          'RETRANSMITTED_IN_BYTES', 'RETRANSMITTED_IN_PKTS', 'RETRANSMITTED_OUT_BYTES', 
                          'RETRANSMITTED_OUT_PKTS'], 1)

/var/folders/yq/_yyb871j2dz332yb_m0tl7gr0000gn/T/ipykernel_5361/551870683.py:1: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  df_final = df_final.drop(['FIREWALL_EVENT', 'FLOW_ACTIVE_TIMEOUT', 'FLOW_DURATION_MICROSECONDS', 'FLOW_END_SEC',

In [42]:
df_final.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 40263811 entries, 0 to 26725245
Data columns (total 34 columns):
 #   Column                      Dtype
---  ------                      -----
 0   BIFLOW_DIRECTION            int64
 1   DIRECTION                   int64
 2   DST_TO_SRC_SECOND_BYTES     object
 3   FIRST_SWITCHED              int64
 4   FLOW_DURATION_MILLISECONDS  int64
 5   FLOW_END_MILLISECONDS       int64
 6   FLOW_ID                     int64
 7   FLOW_START_MILLISECONDS     int64
 8   IN_BYTES                    int64
 9   IN_PKTS                     int64
 10  L4_DST_PORT                 int64
 11  L4_SRC_PORT                 int64
 12  LAST_SWITCHED               int64
 13  OOORDER_IN_PKTS             int64
 14  OOORDER_OUT_PKTS            int64
 15  OUT_BYTES                   int64
 16  OUT_PKTS                    int64
 17  PROTOCOL                    int64
 18  SRC_TO_DST_SECOND_BYTES     object
 19  TCP_FLAGS                   int64
 20  TCP_WIN_MAX_IN              int64
 21  TCP_WIN_MAX_OUT             int64
 22  TCP_WIN_MIN_IN              int64
 23  TCP_WIN_MIN_OUT             int64
 24  TCP_WIN_MSS_IN              int64
 25  TCP_WIN_MSS_OUT             int64
 26  TCP_WIN_SCALE_IN            int64
 27  TCP_WIN_SCALE_OUT           int64
 28  SRC_TOS                     int64
 29  DST_TOS                     int64
 30  L7_PROTO_NAME               object
 31  SAMPLING_INTERVAL           int64
 32  TOTAL_FLOWS_EXP             int64
 33  LABEL                       object
dtypes: int64(30), object(4)
memory usage: 10.5+ GB

In [43]:
len(np.unique(df_final[['LABEL']]))

8

In [44]:
np.unique(df_final[['LABEL']])

array(['Denial of Service R-U-Dead-Yet', 'Denial of Service Slowloris',
       'FIN Scan', 'NULL Scan', 'Normal flow', 'SYN Scan - aggressive',
       'UDP Scan', 'XMAS Scan'], dtype=object)

In [45]:
len(np.unique(df_final[['TCP_WIN_MAX_IN']]))

20593

In [46]:
df_final['TCP_WIN_MAX_IN']

0           1024
1              0
2            122
3           8192
4            502
            ...
26725241       0
26725242    1026
26725243     501
26725244       0
26725245       0
Name: TCP_WIN_MAX_IN, Length: 40263811, dtype: int64

#### Averiguar cuantas muestrar por label

In [47]:
df_final['LABEL'].value_counts()

Normal flow                       33911170
SYN Scan - aggressive              2496814
Denial of Service R-U-Dead-Yet     2276947
Denial of Service Slowloris         864054
UDP Scan                            692195
NULL Scan                             8497
XMAS Scan                             7158
FIN Scan                              6976
Name: LABEL, dtype: int64

In [48]:
df_final.duplicated().sum()

0

In [49]:
df_final_prueba = df_final

In [50]:
df_final_prueba.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 40263811 entries, 0 to 26725245
Data columns (total 34 columns):
 #   Column                      Dtype
---  ------                      -----
 0   BIFLOW_DIRECTION            int64
 1   DIRECTION                   int64
 2   DST_TO_SRC_SECOND_BYTES     object
 3   FIRST_SWITCHED              int64
 4   FLOW_DURATION_MILLISECONDS  int64
 5   FLOW_END_MILLISECONDS       int64
 6   FLOW_ID                     int64
 7   FLOW_START_MILLISECONDS     int64
 8   IN_BYTES                    int64
 9   IN_PKTS                     int64
 10  L4_DST_PORT                 int64
 11  L4_SRC_PORT                 int64
 12  LAST_SWITCHED               int64
 13  OOORDER_IN_PKTS             int64
 14  OOORDER_OUT_PKTS            int64
 15  OUT_BYTES                   int64
 16  OUT_PKTS                    int64
 17  PROTOCOL                    int64
 18  SRC_TO_DST_SECOND_BYTES     object
 19  TCP_FLAGS                   int64
 20  TCP_WIN_MAX_IN              int64
 21  TCP_WIN_MAX_OUT             int64
 22  TCP_WIN_MIN_IN              int64
 23  TCP_WIN_MIN_OUT             int64
 24  TCP_WIN_MSS_IN              int64
 25  TCP_WIN_MSS_OUT             int64
 26  TCP_WIN_SCALE_IN            int64
 27  TCP_WIN_SCALE_OUT           int64
 28  SRC_TOS                     int64
 29  DST_TOS                     int64
 30  L7_PROTO_NAME               object
 31  SAMPLING_INTERVAL           int64
 32  TOTAL_FLOWS_EXP             int64
 33  LABEL                       object
dtypes: int64(30), object(4)
memory usage: 10.5+ GB

In [51]:
valores = ['UDP Scan', 'NULL Scan', 'XMAS Scan', 'FIN Scan']

In [52]:
df_final_prueba = df_final_prueba[df_final_prueba['LABEL'].isin(valores) == False]

In [53]:
df_final_prueba.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 39548985 entries, 0 to 26725245
Data columns (total 34 columns):
 #   Column                      Dtype
---  ------                      -----
 0   BIFLOW_DIRECTION            int64
 1   DIRECTION                   int64
 2   DST_TO_SRC_SECOND_BYTES     object
 3   FIRST_SWITCHED              int64
 4   FLOW_DURATION_MILLISECONDS  int64
 5   FLOW_END_MILLISECONDS       int64
 6   FLOW_ID                     int64
 7   FLOW_START_MILLISECONDS     int64
 8   IN_BYTES                    int64
 9   IN_PKTS                     int64
 10  L4_DST_PORT                 int64
 11  L4_SRC_PORT                 int64
 12  LAST_SWITCHED               int64
 13  OOORDER_IN_PKTS             int64
 14  OOORDER_OUT_PKTS            int64
 15  OUT_BYTES                   int64
 16  OUT_PKTS                    int64
 17  PROTOCOL                    int64
 18  SRC_TO_DST_SECOND_BYTES     object
 19  TCP_FLAGS                   int64
 20  TCP_WIN_MAX_IN              int64
 21  TCP_WIN_MAX_OUT             int64
 22  TCP_WIN_MIN_IN              int64
 23  TCP_WIN_MIN_OUT             int64
 24  TCP_WIN_MSS_IN              int64
 25  TCP_WIN_MSS_OUT             int64
 26  TCP_WIN_SCALE_IN            int64
 27  TCP_WIN_SCALE_OUT           int64
 28  SRC_TOS                     int64
 29  DST_TOS                     int64
 30  L7_PROTO_NAME               object
 31  SAMPLING_INTERVAL           int64
 32  TOTAL_FLOWS_EXP             int64
 33  LABEL                       object
dtypes: int64(30), object(4)
memory usage: 10.3+ GB

In [54]:
df_final_prueba['LABEL'].value_counts()

Normal flow                       33911170
SYN Scan - aggressive              2496814
Denial of Service R-U-Dead-Yet     2276947
Denial of Service Slowloris         864054
Name: LABEL, dtype: int64

In [55]:
df_final = df_final[df_final['LABEL'].isin(valores) == False]

In [56]:
df_final.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 39548985 entries, 0 to 26725245
Data columns (total 34 columns):
 #   Column                      Dtype
---  ------                      -----
 0   BIFLOW_DIRECTION            int64
 1   DIRECTION                   int64
 2   DST_TO_SRC_SECOND_BYTES     object
 3   FIRST_SWITCHED              int64
 4   FLOW_DURATION_MILLISECONDS  int64
 5   FLOW_END_MILLISECONDS       int64
 6   FLOW_ID                     int64
 7   FLOW_START_MILLISECONDS     int64
 8   IN_BYTES                    int64
 9   IN_PKTS                     int64
 10  L4_DST_PORT                 int64
 11  L4_SRC_PORT                 int64
 12  LAST_SWITCHED               int64
 13  OOORDER_IN_PKTS             int64
 14  OOORDER_OUT_PKTS            int64
 15  OUT_BYTES                   int64
 16  OUT_PKTS                    int64
 17  PROTOCOL                    int64
 18  SRC_TO_DST_SECOND_BYTES     object
 19  TCP_FLAGS                   int64
 20  TCP_WIN_MAX_IN              int64
 21  TCP_WIN_MAX_OUT             int64
 22  TCP_WIN_MIN_IN              int64
 23  TCP_WIN_MIN_OUT             int64
 24  TCP_WIN_MSS_IN              int64
 25  TCP_WIN_MSS_OUT             int64
 26  TCP_WIN_SCALE_IN            int64
 27  TCP_WIN_SCALE_OUT           int64
 28  SRC_TOS                     int64
 29  DST_TOS                     int64
 30  L7_PROTO_NAME               object
 31  SAMPLING_INTERVAL           int64
 32  TOTAL_FLOWS_EXP             int64
 33  LABEL                       object
dtypes: int64(30), object(4)
memory usage: 10.3+ GB

In [57]:
df1.PROTOCOL_MAP.head(10)

0     tcp
1    icmp
2     tcp
3     tcp
4     tcp
5     tcp
6     tcp
7     tcp
8     tcp
9     tcp
Name: PROTOCOL_MAP, dtype: object

In [58]:
df_final.PROTOCOL.value_counts()

6     34761812
17     4108246
1       677715
47        1170
58          42
Name: PROTOCOL, dtype: int64

In [59]:
df1.PROTOCOL_MAP.value_counts()

tcp          2999986
udp           508254
icmp           62421
ipv6-icmp          4
gre                1
Name: PROTOCOL_MAP, dtype: int64

### Tabla de protocol 

1  ->  icmp

6  ->  tcp

17 ->  udp

47 ->  gre

58 ->  ipv6-icmp

Como solo hay 4 iteraciones de ipv6-icmp y 1 de gre se droppearan las filas

In [60]:
valores2 = [47, 58]

In [61]:
df_final = df_final[df_final['PROTOCOL'].isin(valores2) == False]

In [62]:
df_final.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 39547773 entries, 0 to 26725245
Data columns (total 34 columns):
 #   Column                      Dtype
---  ------                      -----
 0   BIFLOW_DIRECTION            int64
 1   DIRECTION                   int64
 2   DST_TO_SRC_SECOND_BYTES     object
 3   FIRST_SWITCHED              int64
 4   FLOW_DURATION_MILLISECONDS  int64
 5   FLOW_END_MILLISECONDS       int64
 6   FLOW_ID                     int64
 7   FLOW_START_MILLISECONDS     int64
 8   IN_BYTES                    int64
 9   IN_PKTS                     int64
 10  L4_DST_PORT                 int64
 11  L4_SRC_PORT                 int64
 12  LAST_SWITCHED               int64
 13  OOORDER_IN_PKTS             int64
 14  OOORDER_OUT_PKTS            int64
 15  OUT_BYTES                   int64
 16  OUT_PKTS                    int64
 17  PROTOCOL                    int64
 18  SRC_TO_DST_SECOND_BYTES     object
 19  TCP_FLAGS                   int64
 20  TCP_WIN_MAX_IN              int64
 21  TCP_WIN_MAX_OUT             int64
 22  TCP_WIN_MIN_IN              int64
 23  TCP_WIN_MIN_OUT             int64
 24  TCP_WIN_MSS_IN              int64
 25  TCP_WIN_MSS_OUT             int64
 26  TCP_WIN_SCALE_IN            int64
 27  TCP_WIN_SCALE_OUT           int64
 28  SRC_TOS                     int64
 29  DST_TOS                     int64
 30  L7_PROTO_NAME               object
 31  SAMPLING_INTERVAL           int64
 32  TOTAL_FLOWS_EXP             int64
 33  LABEL                       object
dtypes: int64(30), object(4)
memory usage: 10.3+ GB

In [64]:
df_final['LABEL'].value_counts()

Normal flow                       33909958
SYN Scan - aggressive              2496814
Denial of Service R-U-Dead-Yet     2276947
Denial of Service Slowloris         864054
Name: LABEL, dtype: int64